:root {
  /* background-color: #1a1b2e; */
  background-color: #0f0f1a;
}



body {
  font-family: Jetbrains Mono Nerd Font;
  /* background-color: #1a1b2e; */
  background-color: #0f0f1a;
  color: #c0caf5;
  font-size: 18px;
  /* color: hsl(228, 45%, 44%); */
  margin: 150px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #bb9af7;
}


h1,
h2,
h3 {
  color: #7aa2f7;
  size: 30px;
}

.intro {
  font-style: bold;
}

.intro-img {
  align-self: center
}

.intro-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  /* crops it nicely without stretching */
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  /* add this so it doesn't stretch all the way across */
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid #4c566a;
  padding-bottom: 40px;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  border: 1px solid #c0caf5;
  color: #c0caf5;
  padding: 4px 12px;
  font-size: 14px;
  background: none;
  border-radius: 0;
}

/* responsiveness shit */
@media (max-width: 768px) {
  body {
    margin: 20px;
  }

  .intro-container {
    flex-direction: column;
  }

  .intro-img img {
    width: 200px;
  }

  .project-card {
    flex-direction: column;
  }
}