:root {
  background-color: #1a1b2e;
}

body {
  font-family: Jetbrains Mono Nerd Font;
  background-color: #1a1b2e;
  color: #c0caf5;
  font-size: 18px;
  /* color: hsl(228, 45%, 44%); */
  margin: 150px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #bb9af7;
}


h1,
h2,
h3 {
  color: #7aa2f7;
  size: 30px;
}

.intro {
  font-style: bold;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 20px;
}